html{
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Regular Libre Baskerville";
    text-transform: uppercase;
    color: white;
}

img {
    border: 5px solid white;
    width: 100%;
}

p {
    font-family: "Regular Libre Baskerville";
}

div {
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
}