/*Font Properties*/


/* Example of Font Manipulation:*/

/*
h1 {
    color: blue;
    font-weight: bold; 
    font-size: 20px;
    font-family: sans-serif
}
*/

/*Changing Font Size:*/

/*
#pixel{
    font-size: 20px;
}

#point{
    font-size: 20pt;
}

#em{
    font-size: 1em;
}

#rem {
    font-size: 1rem;
}

footer {
    font-size: 12pt;
}

html {
    font-size: xx-large;
}
*/